@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: 0;
filter: blur(0.32px);
list-style: none;
appearance: none;
}

body{
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow-x: hidden;
  background-size: cover;
}

.bg{
background-size: cover;
}

a{
color: white;
margin-left: 10px;
margin-top: 15px;
margin-bottom: 15px;
}

h1{
font-weight: 800;
font-size: 2rem;
color: white;
}

.navbar{
position: fixed;
left: 0;
top: 0;
width: 100%;
padding: 25px, 10%;
background: navy;
display: flex;
font-size: 2rem;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.navbar .logo{
flex-diection: column;
}

.navbar ul{
display: flex;
}

.navbar ul li{
font-size: 1rem;
margin-left: 10px;
margin-right: 10px;
}
.navbar ul li:hover{
transform: translateY(-5px) scale(1.2);
}
.navbar ul li:hover a,
.navbar ul li.active a{
text-decoration: underline;
}

.content{
position: absolute;
background: white;
padding: 10px 20px;
margin-right: 2px;
border-radius: 10px;
top: 530px;
left: 500px;
}

.content a{
font-size: 2.2rem;
color: navy;
}
.content h1:hover{
transform: scale(1.1);
}

